body {
    font-family: "Bookman", serif;
    margin: 0;
}

header, footer {
    background-color: indigo;
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    background-color: blueviolet;
    padding: 10px;
    text-align: right;
}

aside, article {
    background-color: lavender;
    height: 500px;
}

aside {
    width: 25%;
    float: left;
}

article {
    width: 35%;
    float: left;
}

main {
    background-color: ghostwhite;
    text-align: center;
    height: 500px;
    width: 40%;
    float: left;
}

img {
    float: right;
    width: 50%;
    padding: 10px;
}

p {
    color: white;
    font-size: 150%;
    font-style: italic;
}

table, form {
    margin: 30px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid indigo;
}

th, td {
    padding: 3px;
}

footer {
    clear: both;
}